<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-full bg-zinc-800">
    <div class="p-10 text-white">
        <h1 class="text-3xl mb-8 tracking-tighter">All Users</h1>
        <div class="users flex gap-3 flex-wrap">
            <div class="user w-72 p-4 bg-zinc-900 rounded-lg">
                <div class="w-full h-52 bg-zinc-600 rounded-lg"></div>
                <h1 class="text-xl mt-3 tracking-tighter">Muhammad Ali</h1>
                <h2 class="text-zinc-500">ali@gmail.com</h2>
                <div class="flex gap-3 mt-3" >
                    <a class="text-zinc-400" href="">Edit User</a>
                    <a class="text-zinc-400" href="">Delete User</a>
                </div>
            </div>
            <div class="user w-72 p-4 bg-zinc-900 rounded-lg">
                <div class="w-full h-52 bg-zinc-600 rounded-lg"></div>
                <h1 class="text-xl mt-3 tracking-tighter">Muhammad Ali</h1>
                <h2 class="text-zinc-500">ali@gmail.com</h2>
                <div class="flex gap-3 mt-3" >
                    <a class="text-zinc-400" href="">Edit User</a>
                    <a class="text-zinc-400" href="">Delete User</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>