<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-5" >
        <h1 class="text-3xl">Login Your Account</h1>
        <form action="/login" method="post">
            <input class="px-3 py-2 m-3 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="email" placeholder="email" name="email">
            <input class="px-3 py-2 m-3 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="password" placeholder="password" name="password">
            <input class="bg-blue-500 px-3 py-2 text-xl font-semibold rounded-md cursor-pointer" type="submit" value="Login">
        </form>
    </div>
</body>
</html>